:root {
  --color-1: #be0622;
  --color-2: #0285c2;
}

body {
  background: #020617;
  color: #f8fafc;
  font-family: monospace;
  margin: 4rem;
}

@media (max-width: 50rem) {
  body {
    margin: 2rem 1rem;
  }
}

@media (max-width: 42rem) {
  body {
    font-size: 10px;
    margin: 2rem 0.5rem;
  }
}

a {
  color: #ec625d;
}

.blink {
  animation: 1s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

main {
  position: relative;
  margin: 1em;
}

pre {
  margin: 0;
  position: relative;
}

.glitch {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;

  text-shadow: var(--rx) var(--ry) 4px var(--color-1), var(--bx) var(--by) 4px var(--color-2);
  animation: glitch 4.1s step-start infinite 0.9s alternate-reverse;
}

@keyframes glitch {
  0%, 10% {
    opacity: 0;
  }
  11%, 14% {
    opacity: var(--a);
    transform: translate(var(--x), var(--y));
  }
  15%, 40% {
    opacity: 0;
  }
  41%, 45% {
    opacity: var(--a);
  }
  46%, 54% {
    opacity: 0;
  }
  55% {
    opacity: var(--a);
  }
  88% {
    opacity: var(--a);
    transform: translate(var(--x), var(--y));
  }
  89%, 90% {
    opacity: var(--a);
    transform: translate(var(--y), var(--x));
  }
  91%, 100% {
    opacity: 0;
  }
}